*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Grenze Gotisch", "Courier New", Courier, monospace;
  margin: 0;
  background-color: #b9540b;
  color: #fff;
}

h1,
h2 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

ul {
  padding: 0;
}

.main-container {
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  max-width: 1000px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
}

.title {
  text-align: center;
}

.characters {
  list-style: none;
  margin: 0;
  padding-top: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  @media (width < 600px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.character {
  border-radius: 6px;
  box-shadow: 3px 3px 2px #000;
  background-color: #331c0f;
  overflow: hidden;
}

.character__info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.character__title {
  font-size: 2rem;
}
