*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Grenze Gotisch", "Courier New", Courier, monospace;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.main-container {
  margin: 0 auto;
  background-color: #b9540b;
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.875rem;
}

.title {
  text-align: center;
}

.characters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.character {
  border-radius: 6px;
  box-shadow: 3px 3px 2px #000;
  background-color: #331c0f;
  max-width: 300px;
  overflow: hidden;
}

.character-title {
  font-size: 2rem;
  padding: 10px;
  height: 5rem;
  align-self: self-start;
}

.character-portrait {
  width: 100%;
  height: auto;
}
